.contentProgramPage {

	width: 100%;	
position:relative;
margin: 0 auto;
	top:60px;
	/*left: 130px;
	border: solid 1px black;*/
	text-align: justify;
	
}


.contentProgramTable2 {

	width: 100%;	
position:relative;
margin: 0 auto;
	top:160px;
	/*left: 130px;
	border: solid 1px black;*/
	text-align: justify;
	
}