.contentProgramPage {

	width: 100%;	
position:relative;
margin: 0 auto;
	top:60px;
	/*left: 130px;
	border: solid 1px black;*/
	text-align: justify;
	
}


.contentProgramTable2 {

	width: 100%;	
position:relative;
margin: 0 auto;
	top:140px;
	/*left: 130px;
	border: solid 1px black;*/
	text-align: justify;
	
}

.contentHeaderOption {
	position:absolute;
	
	top: 65px;
	
	left: 230px;
	height:15px;
	width:500px;
	
}

.contentHeaderOptionOne {
	position:absolute;
	
	bottom: 1px;
	
	left: 1px;
	height:24px;
	width:140px;
	cursor: pointer;
}

.contentHeaderOptionTwo {
	position:absolute;
	
	bottom: 1px;
	
	left: 145px;
	height:24px;
	width:125px;
	cursor: pointer;
}
.subContentText{
<<<<<<< HEAD
<<<<<<< HEAD
	font: 15px/1.7em "Myriad pro", Helvetica, Arial, Verdana, sans-serif;
=======
	font: 15px/1.7em 'PTSansRegular', Arial, sans-serif;;
>>>>>>> 5.4
=======
	font: 15px/1.7em 'PTSansRegular', Arial, sans-serif;;
>>>>>>> 5.5
}

.tableHeaderOne{
	position: relative;
	top:50px;
	left:25px;
	width:164px;
	height:25px;
	padding-top:10px;
	font-weight:600;
	
}

.tableHeaderTwo{
	position: relative;
	top:120px;
	left:25px;
	width:160px;
	height:25px;
	padding-top:10px;
	font-weight:600;
	
}
.hide{
	display: none;
}
.show{
	display: block;
}
.regular{

	display: none;
}

.weekend{
	display: block;
}

